<h1>register to sell on this site</h1>
@using EcommerceApp.Models
@model User

    <div class="header">
        <a href="/">Home</a><br>
        <a href="/ContentCreator">seller please register</a><br>
        <a href="/login">or login</a><br>
    </div>
    
    <div>
        <span style="color:red;"asp-validation-for="FirstName"></span><br>
        <span style="color:red;"asp-validation-for="LastName"></span><br>
        <span style="color:red;"asp-validation-for="Email"></span><br>
        <span style="color:red;"asp-validation-for="Password"></span><br>
        <span style="color:red;"asp-validation-for="ConfirmPassword"></span><br>
    </div>

    <h2>Register to this Cool site!</h2>

    <form asp-action="Create" asp-controller="Home" method="post">
            <div class="FirstName">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control">
            </div>

            <div class="LastName">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control">
            </div>

            <div class="Email">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
            </div>

            <div class="Password">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
            </div>

            <div class="ConfirmPassword">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control">
            </div>

        <button>Submit</button>
    </form>