<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Ecomerce App</title>
    </head>
    <body>
        <h1>Home page </h1>
        <h2>welcome to ecom</h2>
        <a href="/ContentCreator">seller please sign in</a>
    </body>
</html>
