@using EcommerceApp.Models
@model List<User>
<!DOCTYPE html>
<html>
<div class="Header">
    <h1>Welcome to EcommerceApp!</h1>
    <a href="/">Home</a>
</div>
    <body>
        <h1>Home page </h1>
        <h2>welcome to ecom</h2>
        <a href="/ContentCreator">seller please register</a>
        <a href="/login">or login</a>
        <h4>checkout a sellers store</h4>

        @foreach(var user in Model)
        {
            <a href="/UserPage/@user.UserId">@user.FirstName @user.LastName</a>
        }

    </body>

</html>
