@using EcommerceApp.Models
@* @model Cart *@


<table class="table table-hover">
    <thead>
        <tr>
            <th>Product</th>
            <th>style</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @* @foreach(var c in Model)
        { *@
            <tr>
                <td>Product.Name</td>
                <td>Product.style</td>
                <td>Product.size</td>
                <td>Product.Quantity</td>
                <td>Product.Price</td>
            </tr>
        @* } *@
    </tbody>
</table>