@using EcommerceApp.Models
@model Style
<h1>create a new style for your product</h1>
    <div class="validations">
        <span style="color:red;" asp-validation-for="Name"></span>
    </div>

    <form asp-action="CreateStyle" asp-controller="Userpage" method="post">
        <p>Style name: <input asp-for="Name"/></p>
        <button>Submit</button>
    </form>